{% if galleries|length > 1 %}

    <h1>{{ 'photogallery.header'|transchoice(galleries|length) }}</h1>

    {% for gallery in galleries %}
        {% if galleries|length > 1 %}
            <h2>{{ gallery }}</h2>
        {% endif %}

        {% spaceless %}
            <ul class="photogallery">
                {% for galleryHasMedia in gallery.GalleryHasMedias %}
                    <li>
                        <a href="{% path galleryHasMedia.media, 'big' %}" rel="group">
                            {% thumbnail galleryHasMedia.media, gallery.defaultFormat %}
                        </a>
                    </li>
                {% endfor %}
            </ul>
        {% endspaceless %}
    {% endfor %}

    <link rel="stylesheet" href="{{ asset('bundles/uran1980fancybox/js/fancybox/source/jquery.fancybox.css') }}" type="text/css" media="screen"/>
    <script type="text/javascript" src="{{ asset('bundles/uran1980fancybox/js/fancybox/lib/jquery.mousewheel-3.0.6.pack.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/uran1980fancybox/js/fancybox/source/jquery.fancybox.pack.js') }}"></script>

    <script>
        //<![CDATA[
        jQuery(document).ready(function ($) {

            var playSpeed = 3000;
            var changeSpeed = 500;
            var changeEffect = 'fade';

            $('ul.photogallery a').fancybox({
                playSpeed: playSpeed,

                openEffect: changeEffect,
                openSpeed: changeSpeed,

                closeEffect: changeEffect,
                closeSpeed: changeSpeed,

                prevEffect: changeEffect,
                prevSpeed: changeSpeed,

                nextEffect: changeEffect,
                nextSpeed: changeSpeed,

                closeBtn: false,
                nextClick: true,
                mouseWheel: true,

                helpers: {
                    title: null
                },

                keys: {
                    next: {
                        32: 'left', // space
                        13: 'left', // enter
                        34: 'up',   // page down
                        39: 'left', // right arrow
                        40: 'up'    // down arrow
                    },

                    play: [83] // letter "s" - start/stop slideshow
                },

                padding: 0
            });
        });
        //]]>
    </script>

{% endif %}