{% if galleries|length > 0 %}

    <h1>{{ 'photogallery.header'|transchoice(galleries|length, {}, 'SiciarekSymfonyUtilsBundle') }}</h1>

    {% for gallery in galleries %}
        {% if gallery.enabled and gallery.GalleryHasMedias|length > 0 %}
            {% spaceless %}

                <h2>{{ gallery }}</h2>

                <ul class="photogallery">
                    {% for galleryHasMedia in gallery.GalleryHasMedias %}
                        <li>
                            <a href="{% path galleryHasMedia.media, 'big' %}" rel="group">
                                {% thumbnail galleryHasMedia.media, 'small' %}
                            </a>
                        </li>
                    {% endfor %}
                </ul>

            {% endspaceless %}
        {% endif %}
    {% endfor %}

    <link rel="stylesheet" href="{{ asset('bundles/uran1980fancybox/js/fancybox/source/jquery.fancybox.css') }}" type="text/css" media="screen"/>
    <script type="text/javascript" src="{{ asset('bundles/uran1980fancybox/js/fancybox/lib/jquery.mousewheel-3.0.6.pack.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/uran1980fancybox/js/fancybox/source/jquery.fancybox.pack.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/siciareksymfonyutils/js/photogallery.js') }}"></script>

    <script>
        jQuery(document).ready(function ($) {
            $('ul.photogallery a').fancybox(fancyboxConfig);
        });
    </script>

{% endif %}