{% if galleries|length > 1 %}

    <h1>{{ 'photogallery.header'|transchoice(galleries|length) }}</h1>

    {% for gallery in galleries %}
        {% if galleries|length > 1 %}
            <h2>{{ gallery }}</h2>
        {% endif %}

        {% spaceless %}
            <ul class="photogallery">
                {% for galleryHasMedia in gallery.GalleryHasMedias %}
                    <li>
                        <a href="{% path galleryHasMedia.media, 'big' %}" rel="group">
                            {% thumbnail galleryHasMedia.media, gallery.defaultFormat %}
                        </a>
                    </li>
                {% endfor %}
            </ul>
        {% endspaceless %}
    {% endfor %}

    <link rel="stylesheet" href="{{ asset('bundles/uran1980fancybox/js/fancybox/source/jquery.fancybox.css') }}" type="text/css" media="screen"/>
    <script type="text/javascript" src="{{ asset('bundles/uran1980fancybox/js/fancybox/lib/jquery.mousewheel-3.0.6.pack.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/uran1980fancybox/js/fancybox/source/jquery.fancybox.pack.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/siciareksymfonyutils/js/photogallery.js') }}"></script>

{% endif %}